# Introduccion a las listas

In [1]:
# crear una lista
#cada valor esta separado por una coma y rodeado por corchetes
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print (planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# acceder a elementos de lista por indice

In [2]:
# puedes acceder a cualquier elemento de una lista poniendo el index entre []
# el index comienzan desde 0
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [3]:
#se pueden modificar los valores de una lista mediante un indice
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [4]:
#determina la longitud de una lista 
# "len" sirve para obtener la longitud de una lista
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

# Agregar valores a listas

In [5]:
#.append(value) agregar un elemento a una lista 
planets.append('Pluto') #agregar la cadena pluto
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

# Eliminar valores de una lista

In [6]:
# .pop() se puede eliminar el ultimo elemento de una lista 
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

# indices negativos

In [7]:
print("The first planet is", planets[0])

The first planet is Mercury

In [8]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

# Buscar un valor en una lista

In [9]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

# Almacenar numeros en listas

In [11]:
# float almacenar numeros decimales 
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
print (gravity_on_earth)
print (gravity_on_the_moon)

1.0
0.166

In [13]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
print (gravity_on_planets)

[0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [14]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

# min() y max () con listas

In [15]:
# max() devuelve el nuero mas grande 
# min() devuelve el numero mas peque√±o
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

# Manipular datos de lista

In [16]:
# slicing examinando solo una parte y el sorting
# slice se puede recuperar una parte de una lista, no modifica la lista actual
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [17]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [18]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Uniendo listas

In [19]:
# (+) para unir dos listas 
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

# Ordenar listas

In [20]:
# se utiliza el metodo sort() para ordenar la lista 
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [21]:
# .sort(reverse=True) ordenar una lista en forma inversa
# .sort modifica la lista actual 
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

# EJERCICIO 1. CREAR Y USAR LISTAS DE PYTHON

In [30]:
planetas = ['mercurio','venus','tierra','marte','jupiter', 'saturno','urano','neptuno']
print ("En nuestro sistea solar exiten",len(planetas), 'planetas')

En nuestro sistea solar exiten 8 planetas

In [28]:
print('el primer planeta es:',planetas[0])
print('el segundo planeta es:',planetas[1])
print('el tercer planeta es:',planetas[2])
print('el cuarto planeta es:',planetas[3])
print('el quinto planeta es:',planetas[4])
print('el sexto planeta es:',planetas[5])
print('el septimo planeta es:',planetas[6])
print('el octavo planeta es:',planetas[7])

el primer planeta es: mercurio
el segundo planeta es: venus
el tercer planeta es: tierra
el cuarto planeta es: marte
el quinto planeta es: jupiter
el sexto planeta es: saturno
el septimo planeta es: urano
el octavo planeta es: neptuno

In [27]:
planetas.append('pluton')
print("el ultimo planeta es:",planetas[-1])

el ultimo planeta es: pluton

# Solucion dada

In [29]:
# Creamos la lista planets y la mostramos

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print('There are', len(planets), 'planets')
# Agregamos a plut√≥n y mostramos el √∫ltimo elemento

planets.append('Pluto')

print(planets[-1], 'is the last planet')

There are 8 planets
Pluto is the last planet

# EJERCICIO 2. TRABAJANDO CON DATOS DE UNA LISTA

In [36]:
planetas = ['mercurio','venus','tierra','marte','jupiter', 'saturno','urano','neptuno']
nuevo_planeta = (input("ingresa el nombre de un planeta"))
planetas_index = planetas.index(nuevo_planeta)
print ("El planeta ", planetas_index + 1, "esta mas cerca del sol")

El planeta  3 esta mas cerca del sol

In [38]:
planetas = ['mercurio','venus','tierra','marte','jupiter', 'saturno','urano','neptuno']
nuevo_planeta = (input("ingresa el nombre de un planeta"))
planetas_index = planetas.index(nuevo_planeta)
print ("El planeta mas cercano al sol es: " + nuevo_planeta)
print(planetas[0:planetas_index])
print("El planeta mas lejos del sol es:" + nuevo_planeta)
print (planetas[planetas_index + 1:])

El planeta mas cercano al sol es: venus
['mercurio']
El planeta mas lejos del sol es:venus
['tierra', 'marte', 'jupiter', 'saturno', 'urano', 'neptuno']

# Solucion dada

In [35]:
# Lista de planetas

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Neptune']
# Solicitamos el nombre de un planeta *Pista:  input()*
user_planet = input('Please enter the name of the planet (with a capital letter to start)')
# Busca el planeta en la lista

planet_index = planets.index(user_planet)
# Muestra los planetas m√°s cercanos al sol

print('Here are the planets closer than ' + user_planet)
print(planets[0:planet_index])
# Muestra los planetas m√°s lejanos al sol

print('Here are the planets further than ' + user_planet)
print(planets[planet_index + 1:])

Here are the planets closer than Mercury
[]
Here are the planets further than Mercury
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Neptune']